.reportTokenContainer *,
.reportTokenContainer::before,
.reportTokenContainer::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reportTokenContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 120em;
  margin: 0 auto !important;
  padding: 0 3.5rem;
  overflow-x: hidden;

  position: relative;
}

.reportImageBg {
  background-color: antiquewhite;
  background-image: url("../../../public/ReportBgCandidateSelf.png");
  height: 25rem;
  position: relative;
  width: calc(100% + 12rem);
  position: relative;
  left: -6rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  /*  */
  position: absolute;
  top: 0;
  left: 0;
}

.report_header {
  position: relative;
  margin-top: 16rem;
}

.report_header_inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.report_header_image {
  border: 4px solid theme(colors.white-purple-shade);
  border-radius: 999px;
  position: relative;
}

.report_header_candidate_image {
  background-color: yellow;
  border-radius: 999px;
  padding: 1.75rem 2.375rem;
  background-color: theme(colors.white-purple-shade);
  margin: 0.75rem;
}

.report_header_title {
  display: inline-flex;
  flex-direction: column;
}

.report_header_title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: theme(colors.neutral-dark);
}

.report_header_title p:first-of-type {
  font-size: 1.125rem;
  font-weight: normal;
  color: theme(colors.steel);
}

.report_header_score {
  margin-top: 1rem;

  font-size: 0.875rem;
  font-weight: 500;
  color: theme(colors.neutral-dark);
  background-color: #e7ffe0;
  width: max-content;
  padding: 0.3rem 2.7rem 0.3rem 1rem;
  border-radius: 4rem;
  position: relative;
}

.report_header_score span:nth-of-type(2) {
  height: 8px;
  width: 8px;
  background-color: #50cd31;
  border-radius: 999px;
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.how_we {
  background: #f7f5ff;
  display: inline-block;
  padding: 1px 2px 1px 1.3rem;
  border-radius: 67px;
  color: theme(colors.steel);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  font-size: 0.875rem;
  top: 0;
  right: 0;
}

.report_details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3.125rem;
}

.details {
  background-color: #f2f4f7;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9375rem;
  padding: 0.5rem 0px;
  flex-wrap: wrap;
  border-radius: 8px;
}

.details div {
  gap: 1.25rem;
  padding: 0.4rem 1.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.details div:not(:last-child) {
  border-right: 1.5px solid #dbdbdb;
}

.details div p {
  text-wrap: nowrap;
}

.report_details div p:first-child {
  color: theme(colors.neutral-dark);
  font-weight: 900;
  text-transform: capitalize;
}
.report_details div p:nth-child(2) {
  color: theme(colors.steel);
  font-weight: 500;
  text-transform: capitalize;
}

.report_details button {
  all: unset;
  background: transparent;
  border: none;
  font: inherit;
  margin-left: auto;
  cursor: pointer;
  background-color: theme(colors.primary);
  color: white;

  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  padding-right: 10px;
  padding-left: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-wrap: nowrap;

  transition: all 100ms ease-in;
}

/* Overview */
.overall_report_wrapper > *:not(:last-child) {
  margin-bottom: 1.875rem;
}

.overall_report {
  border-radius: 0.75rem;
  border: 1px solid theme(colors.light-grey);
}
.overall_report_header {
  background-color: #fafafa;

  padding: 0.625rem 1rem;
  margin-bottom: 1.875rem;
  border: 1px solid theme(colors.light-grey);
  border-radius: 0.75rem;
}
.overall_report_header.second_color {
  background-color: #f2ffee;
}
.overall_report_header h2 {
  font-size: 2rem;
  font-weight: 900;
}

.report_content {
  padding: 0px 1rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: theme(colors.steel);
}
.report_content h3 {
  font-size: 1.375rem;
  font-weight: bold;
  color: theme(colors.neutral-dark);
  margin-bottom: 0.75rem;
}

.enhance_skills {
  display: grid;
  grid-template-columns: 1fr 25rem;
  gap: 1rem;
}

.enhance_skills {
  display: grid;
  grid-template-columns: 1fr 25rem;
  gap: 1rem;
}

.career_counseling {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 1rem;
}
.enhance_skills img,
.career_counseling img {
  height: 100%;
  width: 100%;
}

.career_counseling h3 {
  font-size: 22px;
  font-weight: bold;
  color: theme(colors.neutral-dark);
}

.career_counseling p {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1240px) {
  .reportTokenContainer {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .reportTokenContainer {
    padding: 0 1.5rem;
  }
}
