
.clientReq{
    padding: 1rem 0rem;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.topContainer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.companyName h2{
    margin: 0;
}

.leftDiv img {
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #F8F7FA;
}

.btnsDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnsDiv span{
    color: #6137DB;
    font-weight: 700;
}

.btnsDiv img{
    background-color: #F8F7FA;
    border-radius: 50%;
    padding: 0.5rem;
}

#reject{
    border: none;
    background-color: #FFE6E6;
    padding: 0.35rem 1rem;
    border-radius: 30px;
    color: #FF0000;
    font-family: 'Poppins',sans-serif;
    font-size: 1.15rem;
}

#accept{
    border: none;
    background-color: #F0EDFC;
    padding: 0.35rem 1rem;
    border-radius: 30px;
    font-family: 'Poppins',sans-serif;
    color: #6137DB;
    font-size: 1.15rem; 
}

.lowerContainer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.left {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    width: 90%;
}

.left span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
}

.right span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    background-color: #E7FFE0;
    border-radius: 20px;
    width: auto;
}


.dot::before {
    content: ''; 
    display: block; 
    width: 10px; 
    height: 10px; 
    background-color: #B0B6BF; 
    border-radius: 50%; 
}

/* .lowerContainer::before {
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
} */

.left::after {
    right: 0; /* Position it on the right side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust the centering */
}