.superContainer{
    height: 100%;
    width: 90%;
}

.searchContainer{
    width: 64.6%;
}

.btnsDiv{
    width: 33.75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.9rem;
    justify-content: flex-end;
    gap: 1rem;
    height: 3.5rem;
    margin: 0.9rem ;
}

.addJobBtn{
    border: none;
    background-color: #6137DB;
    height: 90%;
    width: 100%;
    padding: 0 2rem; 
    border-radius: 40px;
    color: #fff;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.5px;
    font-family: 'Poppins',sans-serif;
}

.notificationsBtn{
    border: none;
    background-color: #F8F7FC;
    height: 100%;
    padding: 0 2rem; 
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.topContainer{
    display: flex;
    justify-content: space-between;
}