.bannerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 63%;
    height: 100%;
    background-color: #F8F7FC;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftContent{
    width: 60%;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.leftContent p{
    font-size: 2rem;
}

.leftContent p span{
    font-weight: 700;
}

.rightContent{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.rightContent img{
    border-radius: 0 0 20px 0;
}