@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.mainContainer{
    width: 100%;
    height: 50%;
    background-color: #F8F7FC;
    border-radius: 20px;
    display: flex ;
    justify-content: center;
    overflow: hidden;
    font-family: "Poppins",sans-serif;
}

.headingContainer{
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headingContainer h3{
    margin: 0;
}
@media only screen and (max-width: 1100px) {
    .headingContainer h3{
        font-size: small;
    }
}

.headingContainer span{
    color: #6137DB;
}

.container{
    width: 94%;
    font-weight: 700;
}


.graphContainer{
    height: 80%;
}

.graph{
    height: 100%;
}