@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.superContainer {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.masterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    gap: 1rem;
    height: 70%;
}

.infoField {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F8F7FA;
    border-radius: 30px;
    padding: 1rem 0;
    border: 1px solid #EBEBEB;
    height:50%;
    font-size: 2rem;
}

.infoField input{
    width: 100%;
    border:none;
    background-color: transparent;
    padding: 0 1rem;
    font-family: 'Poppins',sans-serif;
    height: 80%;
}

.infoField input:focus{
    outline:none ;
}

.infoField select{
    width: 95%;
    border:none;
    background-color: transparent;
    padding: 0 1rem;
    font-family: 'Poppins',sans-serif;
    height: 100%;

}

.infoField select:focus{
    outline:none ;
}

.errorsContainer{
    width: 100%;
    height: 70%;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(246, 211, 211);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    color: rgb(110, 0, 0) ;
}

.errorsHub{
    height:10%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}