@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;600;800&family=Poppins:wght@100;200;300;500&display=swap");
body {
  max-width: 1920px;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;
}

*:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}
.PhoneInputCountryIcon {
  width: 60%;
  height: 40px;
}

.PhoneInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.PhoneInputCountry {
  width: 10%;
  display: flex;
  border-radius: 40px;
}
.PhoneInputCountryIconImg {
  /* padding-bottom: inherit; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 10px; */
  padding-top: 7px;
  height: 40px;
  margin-left: 20px;
  border-radius: 580px;
  width: 30px;
}
.phoneInput2 {
  margin-left: 30px;
  padding-left: 200px;
}

.PhoneInputInput {
  margin-left: 1.5rem;
}

/* 1440 = 90em */
@media screen and (max-width: 90em) {
  html {
    /* 13xp */
    font-size: 81.25%;
  }
}
