@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@400;500&display=swap');

.addSkillFormContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
}

.inputField input{
    border: none;
    background-color: #F8F7FC;
    border-radius: 40px;
    font-size: 1rem;
    width: 100%;
    font-family: 'Poppins',sans-serif;
}


.inputField input:active{
    border: none;
}

.inputField{
    width: 97%; 
    display: flex;
    background-color: #F8F7FC;
    border-radius: 40px;
    padding:  0 1rem;
    justify-content: space-between;
    align-items:center ;
}

.wrapper{
    display: flex;
    align-items: center;
    width: 80%;
}


.inputField select{
    border: none;
    background-color: #F8F7FC;
    font-size: 1rem;
    padding: 1.3rem;
    font-family: 'Poppins',sans-serif;
    border-radius: 40px;
}
@media only screen and (max-width: 1300px) {
    .inputField select{
        padding: 1.2rem;
    }
}
@media only screen and (max-width: 1100px) {
    .inputField select{
        padding: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .inputField {
        width: 91%;
    }

    .addSkillFormContainer{
        width: 80%;
    }

    .inputField select{
        padding: 0.8rem;
        font-size: 0.75rem;
    }
}

.inputField input:focus{
    outline: none;
  }


  .inputField select:focus{
    outline: none;
  }