.body {
  /* height: 85.5vh; */
  background-color: var(--color-white-purple-shade);
  border-radius: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Do not */
  /* align-items: center; */
  gap: 2rem;
}

.body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-thumb {
  background-color: transparent;
} */

.body::-webkit-scrollbar {
  width: 8px;
}
.body::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 32px;
  background-color: transparent;
}

.body::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.body::-webkit-scrollbar-track:active {
  background-color: transparent;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: var(--color-light-grey);
}

.body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-grey);
}

.body::-webkit-scrollbar-thumb:active {
  background-color: var(--color-light-grey);
}

/* 1440px */
@media screen and (max-width: 90em) {
  .body {
    padding: 1.25rem;
  }
}
