
.body {
  max-height: 100vh;
  background-color: #F8F7FC;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
@media only screen and (max-width: 1200px) {
.body {
  width: 100%;
  margin-bottom: 0.75rem;
}
}
@media only screen and (max-width: 1800px) {
  .body {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  }
.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
