.body {
  /* height: 85.5vh; */
  background-color: var(--color-white-purple-shade);
  border-radius: 2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Do not */
  /* align-items: center; */
  gap: 2rem;
}

.body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* 1440px */
@media screen and (max-width: 90em) {
  .body {
    padding: 1.25rem;
  }
}

/* @media only screen and (max-width: 1200px) {
.body {
  width: 590px;
  height: 550px;
  margin-bottom: 0.75rem;
}
}
@media only screen and (max-width: 1688px) {
  .body {
    width: 100%;
    height: 800px;
    margin-bottom: 0.75rem;
  }
  } */
