.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 3.75rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.25rem 4.875rem;
}
