.fileInputLabel {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    align-items: start;
    display: flex;
    background-color: #6137DB;
    border-radius: 9999px;
    margin-left: auto;
}

.hiddenFileInput {
    display: none;
}

.infoField input {
  /* width: 100%; */
  /* border: none; */
  /* background-color: transparent; */
  /* padding: 1rem; */
  height: 80%;
  /* font-family: "Pop/pins", sans-serif; */
}