@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.superContainer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F7FA;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    gap: 2rem;
}

.imageDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv img {
    width: 100%;
    border-radius: 0 0 20px 0;
}

.formContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.formContainer h2 {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.formContainer p {
    color: #4A525D;
    margin: 0;
}

.formContainer input {
    width: 80%;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid #EBEBEB;
    border-radius: 1rem;
}

.resetButton {
    width: 100%;
    height: 3rem;
    background-color: #6137DB;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #4a29b0;
}

.backLink {
    color: #ACA7BA;
    cursor: pointer;
}

.backLink:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
    .superContainer {
        flex-direction: column;
    }

    .formContainer {
        width: 100%;
    }

    .imageDiv {
        width: 100%;
    }

    .imageDiv img {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .superContainer {
        width: 90%;
    }

    .formContainer input {
        width: 90%;
    }

    .resetButton {
        width: 90%;
    }

    .formContainer h2 {
        font-size: 1rem;
    }
}
