@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.parent {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(45px);
    font-family: "Poppins", sans-serif;
    transform:translate3d(0,0,0);
    background-color: rgba(0, 0, 0, 0.11);
    opacity: 0;
    transition: none;
    overflow: hidden;
}


.btn{
    position: relative;
    bottom: 90%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 1px;
}

.btn button {
    height: 100%;
    width: 90%;
    border: none;
    background-color: #fff;
    border-radius: 50%;    
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button:focus{
    outline: none;
}

.superContainer {
    height: 88%;
    width: 100%;
    background-color: #fff;
    backdrop-filter: none;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.topContainer {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.topContainer img:hover {
    border-radius: 20px;
}

.topContainer span {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.tooltip {
    visibility: hidden;
    width: 100%;
    text-align: center;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #F0EDFC;
    padding: 0.2rem 0.2rem;
    border-radius: 20px;
}

.topContainer span:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.wrapper {  
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparentContainer{
    height: 5%;
    width: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(45px);
    position: relative;
    bottom: 3%;
}x

.transparentContainer button{
    width: 100%;
    height: 30%;
    border-radius: 20px;
    bottom: 100%;
    border: none;
    background-color: #fff;
}

.coverContainer{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorsContainer{
    width: 60%;
    height: 5%;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgb(246, 211, 211);
    display: flex;
    
    gap: 1rem;
}
@media only screen and (max-width: 1300px) {
    .headingjob{
        font-size: larger;
    }
}
@media only screen and (max-width: 1100px) {
    .headingjob{
        font-size: medium;
    }
}