.superContainer {
  width: 80%;
  height: 50%;
}

.infoFieldContainers {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.infoField {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8f7fa;
  padding: 1rem 1rem;
  border-radius: 30px;
  gap: 1rem;
  border: 1px solid #ebebeb;
}

.jobDescription {
  border: 1px solid #ebebeb;
  background-color: #f8f7fa;
  border-radius: 30px;
  margin-top: 1rem;
  padding: 1rem;
  height: calc(100% - 115px);
  overflow-y: scroll;
}

.jobDescription h4 {
  margin-top: 0;
}

.jobDescription::-webkit-scrollbar {
  width: 6px;
}

.jobDescription::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#gap {
  padding-bottom: 1rem;
}

/* 1680px */
/* @media screen and (max-width: 105em) {
  .superContainer {
    width: 80%;
  }
} */
