.fieldsContainer{
    display: flex;
    justify-content: space-between;
    height:13%;
}

.conatiner input {
    border: none;
    height: 100%;
    background-color: #F8F7FC;
    font-size: 1rem;
    border-radius: 40px;
    padding: 0 1.5rem;
    width: 100%;
}

.wrapper {
    margin-top: 1rem;
    font-size: 1rem;
    width: 30%;
    background-color: #F8F7FC;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    height: 13%;
    width: 97%;
}
.wrapper select:focus {
    outline: none;
}

.wrapper select{
    border: none;
    font-size: 1rem;
    width: 100%;
    background-color: #F8F7FC;
}

.wrapper select option{
    color: #F8F7FC;
}

.fieldsContainer input:focus {
    outline: none
}

.fieldsContainer select:focus {
    outline: none
}


.subContainer {
    width: 90%;
}

.subContainer input{
    width: 90%;
}

.conatiner{
    display:  flex;
    justify-content: center;
    background-color: #F8F7FC;
    border-radius: 40px;
    align-items: center;
    width: 45%;
    padding: 0 1.25rem;
}

@media only screen and (max-width:600px){
    .conatiner input {
        padding: 0 0.25rem;
        font-size: 0.85rem;
        width: 100%;
    }

    .conatiner{
        justify-content: space-around;
        gap:0.25rem;
    }

    .wrapper{
        width: 91%;
        /* padding:0 0 */
    }
}