@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.parent {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(45px);
    font-family: "Poppins", sans-serif;
    transform:translate3d(0,0,0);
    background-color: rgba(0, 0, 0, 0.11);
    opacity: 0;
    transition: none;
    overflow: hidden;
}


.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6137DB;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.btn{
    position: relative;
    bottom: 53%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 1px;
}

.btn button {
    height: 100%;
    width: 90%;
    border: none;
    background-color: #fff;
    border-radius: 50%;    
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button:focus{
    outline: none;
}

.superContainer {
    height: 88%;
    width: 100%;
    background-color: #fff;
    backdrop-filter: none;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.topContainer {
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.topContainer img:hover {
    border-radius: 20px;
}

.topContainer span {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
}

.tooltip {
    visibility: hidden;
    width: 100%;
    text-align: center;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #F0EDFC;
    padding: 0.2rem 0.2rem;
    border-radius: 20px;
}

.topContainer span:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.wrapper {  
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparentContainer{
    height: 5%;
    width: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(45px);
    position: relative;
    bottom: 3%;
}x

.transparentContainer button{
    width: 100%;
    height: 30%;
    border-radius: 20px;
    bottom: 100%;
    border: none;
    background-color: #fff;
}

.coverContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    position: relative;
    bottom:45%;
    z-index: 1;
}

.content{
    width: 100%;
}   

.content p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    color: #6137DB;
    font-weight: 700;
}

.subInfo{
    display: flex;
    gap: 1rem;
}

.subInfo span {
    gap: 1rem;
    padding: 0.25rem 1rem;
    background-color: #E7FFE0;
    border-radius: 20px;
}

.topContainer h1{
    margin-bottom: 0.5rem;
}

.description{
    width: 95%;
    height: 25%;
    background-color: #F8F7FA;
    margin-top: 1rem;
    border-radius: 20px;
    overflow-y: scroll;
    padding: 1rem;
}

.copyDiv{
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.copyDiv span{
    border-radius: 20px;
    display:  flex;
    align-items: center;
    gap: 1rem;
    background-color: #F0EDFC;
    padding: 0.5rem 1rem;
}

.description h4{
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.description::-webkit-scrollbar {
    width: 6px;
}

.description::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.TechStack {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.TechStack ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.TechStack ul li {
    background-color: #F8F7FC;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#unique {
    background-color: #2BA977;
    border-radius: 50%;
}

.techContainer{
    width: 95%;
}

.topImage{
    position: relative;
}

#lowerImage{
    position: relative;
    z-index: 0;
}