@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap");

.parentContainer {
  height: 85.5vh;
  background-color: var(--color-white-purple-shade);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* scrollbar-width: thin; */
  /* scrollbar-color: transparent transparent; */
}

.parentContainer::-webkit-scrollbar {
  width: 8px;
}
.parentContainer::-webkit-scrollbar-track {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 32px;
  background-color: transparent;
}

.parentContainer::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.parentContainer::-webkit-scrollbar-track:active {
  background-color: transparent;
}

.parentContainer::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: var(--color-light-grey);
}

.parentContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-grey);
}

.parentContainer::-webkit-scrollbar-thumb:active {
  background-color: var(--color-light-grey);
}

.superContainer {
  width: 96%;
  height: 100%;
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headingContainer span {
  background-color: var(--color-light-purple-shade);
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.1875rem 1rem;
  border-radius: 4.125rem;
}

.headingContainer select {
  background-color: #f0edfc;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.headingContainer select:focus {
  outline: none;
}

.headingContainer h3 {
  margin: 1rem 0 1rem 0;
}

.superContainer {
  width: 97%;
  font-family: "Poppins", sans-serif;
}

.superContainer::-webkit-scrollbar {
  width: 6px;
}

.superContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.jobsCard {
  background-color: #fff;
  height: 22%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  display: flex;
  width: 95%;
  height: 28%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.topContainer h3 {
  margin: 0;
}

.rightTopBtns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.rightTopBtns span {
  color: #6137db;
  font-weight: 700;
}

.rightTopBtns img {
  background-color: #f8f7fc;
  padding: 0.25rem;
  border-radius: 50%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.TechStack {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.TechStack ul {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  list-style: none;
  gap: 2rem;
  padding: 0;
}

.TechStack ul li {
  /* background-color: #f8f7fc; */
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: row-reverse;
}

#unique {
  /* background-color: #2BA977; */
  border-radius: 50%;
}

.lowerContainer {
  /* margin: 1rem; */
  margin-bottom: 0.75rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lowerContainer h4 {
  margin: 0;
}

.status {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #e7ffe0;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.tempContainer {
  min-height: 40rem;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tempContainer img {
  padding-top: 1rem;
}
