.parentContainer {
    width: 60%;
    height: 50%;
}

.banner{
    background-color: #F8F7FA;
    border-radius: 20px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 1rem;
}

.leftContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.75rem;
    width: 70%;
    font-size: 2rem;
}

.imgDiv{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imgDiv img{
    border-radius: 0 0 20px 0 ;
}

.inputFieldContainer{
    width: 100%;
    display: flex;
    height: 20%;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.inputField{
    width: 50%;
    background-color: #F8F7FA;
    border-radius: 30px;
    border: none;
    height: 90%;
    padding: 0 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.inputField input{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
}

.inputField input:focus{
    outline: none;
}
.passwordhead{
    font-size: smaller;
}

@media only screen and (max-width: 1300px) {
    .leftContainer{
        font-size: x-large;
    }
}

@media only screen and (max-width: 1100px) {
    .leftContainer{
        font-size: large;
    }
}

@media only screen and (max-width: 600px) {
    .parentContainer{
        width: 80%;
    }

    .banner{
        height: 20%;
    }

    .inputFieldContainer{
        flex-direction: column;
        width: 100%;
    }

    .inputField{
        width: 98%;
        padding: 1rem 0.75rem;
    }

    .leftContainer img{
        height: 50px;
        width: 50px;
    }
    .leftContainer p{
        font-size: 0.75rem;
    }

    .imgDiv img{
        height: 50px;
        width: 50px;
    }
}