@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');


.container{
    width: 50%;
    height: 65%;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6137DB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.topContainer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionNoList ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.questionNoList ul li{
    padding: 0.75rem 1.5rem; 
    background-color: #F5F5F5;
    border-radius: 25px;
}

.topContainer span{
    padding: 0.75rem;
    background-color: #6E62E5;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 30px;
    font-weight: 700;
}

.questionContainer{
    height: 40%;
    width: 90%;
    border: 1px solid #EBEBEB;
    padding: 1rem;
    background-color: #F8F7FA;
    border-radius: 20px;
}

.recordBtn{
    margin-top: 2rem;
    border:2px solid #6137DB;
    background-color: #fff;
    font-family: 'Poppins',sans-serif;
    color: #6137DB;
    border-radius: 30px;
    min-width: 35%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 1rem;
}

.lowerContainer{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.lowerContainer button{
    height: 70%;
    border: none;
    color: #fff;
    background-color: #6137DB;
    width: 35%;
    border-radius: 35px;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}