@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap");

.btnsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 60%;
  width: 80%;
  margin-top: 4%;
}

#backBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0edfc;
  border: none;
  border-radius: 40px;
  width: 20%;
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin: 1rem 0;
  gap: 1rem;
  height: 60%;
  font-family: "Poppins", sans-serif;
}
#backBtn:hover {
  background-color: #f3f2f5;
}

#forwardBtn {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  align-items: center;
  background-color: #6137db;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  width: 20%;
  font-size: 1rem;
  letter-spacing: 0.5px;
  gap: 3rem;
  height: 60%;
  font-family: "Poppins", sans-serif;
  padding-left: 32px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#forwardBtn:hover {
  background-color: #5a33cc;
  color: #fff;
}

/* @media only screen and (max-width: 1024px) {
  #forwardBtn {
    width: 100px;
    height: 60%;
    font-size: 1rem;
    gap: 1rem;
  }
} */

/* 1680px */
@media screen and (max-width: 105em) {
  .superContainer {
    width: 80%;
  }

  .btnsContainer {
    margin-top: 0;
  }

  #backBtn,
  #forwardBtn {
    white-space: nowrap;
    width: 250px;
    height: 4rem;
    margin-top: 0;
  }

  #forwardBtn img {
    width: 20px !important;
  }
}

/* 1440px */
@media screen and (max-width: 90em) {
  #backBtn,
  #forwardBtn {
    width: 200px;
    height: 3rem;
  }

  .btnsContainer {
    margin-top: 0px;
  }
}

/* @media only screen and (max-width: 1200px) {
  #backBtn,
  #forwardBtn {
    width:40%;
    height: 60%;
    font-size: 8px;
    gap: 10px;
  }
}

@media only screen and (max-width: 1440px) {
  #forwardBtn {
    width: 25%;
    height: 60%;
    font-size: 14px;
    gap: 10px;
  }
}


@media only screen and (max-width: 1600px) {
  #forwardBtn {
    width: 30%;
    height: 60%;
    font-size: 16px;
    gap: 10px;
  }
} */

/* 1024px */
@media screen and (max-width: 64em) {
  .btnsContainer {
    margin-top: 20px;
    float: right;
    /*  */
    margin-right: 3px;
  }


  /* #forwardBtn {
    width: 100px;
    height: 60%;
    font-size: 1rem;
    gap: 1rem;
  } */

 

  #forwardBtn {
    width: 30%;
    font-size: 12PX;
  }
}
