@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');


.btnsContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 60%;
    width: 95%;
}   

#backBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0EDFC;
    border: none;
    border-radius: 40px;
    width: 12%;
    font-size: 1rem;
    letter-spacing: 0.5px;
    gap: 1rem;
    height: 70%;
    font-family: 'Poppins', sans-serif;
}

#forwardBtn {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    align-items: center;
    background-color: #6137DB;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    width: 21%;
    font-size: 1rem;
    letter-spacing: 0.5px;
    gap: 3rem;
    height: 70%;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 1100px) {
    #forwardBtn{
        font-size: x-small;
    }
}

@media only screen and (max-width: 600px) {
    #forwardBtn{
        width: 50%;
        font-size: 0.7rem;
    }

    #forwardBtn img{
        height: 20px;
        width: 20px;
    }
}
