@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');


.btnsContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 60%;
    width: 95%;
}   

#backBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0EDFC;
    border: none;
    border-radius: 40px;
    width: 151px;
    font-size: 16px;
    letter-spacing: 0.5px;
    gap: 1rem;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    padding-left: 24px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#backBtn:hover {
    background-color: #F3F2F5; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

#forwardBtn {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    align-items: center;
    background-color: #6137DB;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    width: 240px;
    font-size: 16px;
    letter-spacing: 0.5px;
    gap: 3rem;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    padding-left: 32px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}



@media only screen and (max-width: 1100px) {
    #forwardBtn{
        font-size: x-small;
    }
}

@media only screen and (max-width: 600px) {
    #forwardBtn{
        width: 50%;
        font-size: 0.7rem;
    }

    #forwardBtn img{
        height: 20px;
        width: 20px;
    }
}
#forwardBtn:hover {
    background-color: #5A33CC; /* Lighter purple for hover state - adjust as needed */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect for hover */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}