@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@400;500&display=swap');

.superContainer{
    width: 32% ;
    height: auto;
    background-color: #fff;
    margin-top: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* margin: 0 01rem ; */
    align-items: center;
}       

.masterConatiner{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
}

.btnsDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.9rem;
    justify-content: flex-end;
    gap: 1rem;
    height: 3.5rem;
    margin: 0.9rem 0rem
}

.addJobBtn{
    border: none;
    background-color: #6137DB;
    height: 70px;
    width: 800px;
    margin-right: 0px;
    border-radius: 60px;
    color: #fff;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}
@media only screen and (max-width: 1100px) {
    .addJobBtn{
        letter-spacing: 0px;
        padding: 0rem 1rem;
        border-radius: 25px;
    }
}

.notificationsBtn{
    border: none;
    background-color: #F8F7FC;
    height: 70px;
    width: 200px;
    padding: 0 2rem; 
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
}