
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@400;500&display=swap');
.superContainer{
    width: 32% ;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.masterConatiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
}
.btnsDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 25px;
}
@media only screen and (max-width: 1200px) {
.btnsDiv{
    margin: 0.9rem;
    margin-left: -10px;
    margin-bottom: 16px;
}
}
.addJobBtn{
    border: none;
    background-color: #6137DB;
    height: 70px;
    width: 297px;
    margin-right: 0px;
    border-radius: 60px;
    color: #fff;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

.addJobBtn:hover {
    background-color: #5A33CC;
}
@media only screen and (max-width: 1200px) {
    .addJobBtn{
        height: 50px;
        width: 200px;
        border-radius: 60px;
        }
}
@media only screen and (max-width: 1100px) {
    .addJobBtn{
        height: 50px;
        width: 177px;
        border-radius: 60px;
    }
}
.notificationsBtn{
    background-color: #F8F7FC;
    height: 70px;
    width: 96px;
    border-radius: 48px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
    color: gray;
    border: 1px ;

}
.notificationsBtn :hover{
    height: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 1200px) {
    .notificationsBtn{
        height: 50px;
        width: 96px;
    }
}
