@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap");

.btnsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 60%;
  width: 100%;
  margin-top: 4%;
}

#backBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0edfc;
  border: none;
  border-radius: 40px;
  width: 10%;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 1rem 0;
  gap: 1rem;
  height: 60%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
#backBtn:hover {
  background-color: #f3f2f5;
}

#forwardBtn {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  align-items: center;
  background-color: #6137db;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  width: 20%;
  font-size: 12px;
  letter-spacing: 0.5px;
  gap: 3rem;
  height: 60%;
  font-size: ;
  font-family: "Poppins", sans-serif;
  padding-left: 32px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#forwardBtn:hover {
  background-color: #5a33cc;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  #forwardBtn {
    width: 40%;
    height: 60%;
    font-size: 8px;
    gap: 1rem;
  }
}

/* 1680px */
@media only screen and (max-width: 1600px) {
  /* try this */
  .btnsContainer {
    margin-top: 0;
    align-items: flex-start;
  }

  #backBtn,
  #forwardBtn {
    height: 60px;
    margin-top: 0px;
  }

  #forwardBtn {
    width: 30%;
    /* height: 60%; */
    font-size: 14px;
    gap: 10px;
  }
}

@media only screen and (max-width: 1440px) {
  #forwardBtn {
    width: 25%;
    /* height: 60%; */
    font-size: 12px;
    gap: 10px;
  }

  #backBtn
   {
    height: 55px;
    width: 15%;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  #forwardBtn {
    width: 30%;
    /* height: 60%; */
    font-size: 12px;
    gap: 10px;
  }

  #backBtn,
  #forwardBtn {
    height: 50px;
    margin-top: 0px;
    font-size: 12px;

  }
}
