.superContainer {
    width: 60%;
    height: 50%;
}

.subContainer {
    height: 30%;
    background-color: #F8F7FC;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rightContainer{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.rightContainer img{
    border-radius: 0 0 20px 0 ;
}

.leftContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
}

.leftContainer p {
    font-size: 2rem;
    letter-spacing: 1px;
}

.topBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0; 
}

.topBar button {
    border: none;
    color: #6137DB;
    font-size: 1rem;
    background-color: transparent;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
}

.topBar button:focus {
    outline: none;
}

.allFields {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 15%;
    margin-top: 1.2rem;
    align-items: center;
    gap: 1rem;
}

.field {
    display: flex;
    align-items: center;
    background-color: #F8F7FC;
    padding: 0.25rem 1rem;
    height: 100%;
    width: 45%;
    border-radius: 40px;
    align-items: center;

}

.field img {
    padding-right: 1rem;
}

.allFields input {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
}

.allFields input:focus{
    outline: none;
}

.linkContainer {
    margin-top: 2rem;
    width: 100% ;
    background-color: #F8F7FC;
    height: 18%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.linkContainer button{
    background-color: #6137DB;
    color: #fff;
    border: none;
    border-radius: 40px;
    height: 70%;
    letter-spacing: 1px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;    
    font-size: 1rem;
}

.wrapper input{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 60%;
}