.masterContainer {
    background-color: #fff;
    width: 19%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.mainContainer h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 1000;
    font-size: 1.8rem;
    color: #170D23;
}
@media only screen and (max-width: 1100px) {
    .mainContainer h3{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1200px) {
    .mainContainer h3 {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 1300px) {
    .mainContainer h3{
        font-size: 1.2rem;
    }
}

.mainContainer h3 img {
    margin-right: 0.5rem;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ACA7BA;
}


.mainContainer h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACA7BA;
    margin: 0;
    margin-top: 1.5rem;
}
.mainContainer:hover h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1.5rem;
    color: #170D23;

}
.mainContainer:active h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1.5rem;
    color: #170D23;

}
.mainContainer:focus h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1.5rem;
    color: #170D23;

}

.mainContainer ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0;
}

.mainContainer ul li {
    /* margin: 0.5rem; */
    margin-top: 0.3rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding: 0.5rem 0.8rem;
}
@media only screen and (max-width: 1100px) {
    .mainContainer ul li{
        padding: 0.2rem 0.2rem;
    }
}

.listContainer {
    width: 80%;
}

.listContainer h4 img{
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list h4 img{
    cursor: pointer;
}

.profileTab {
    display: flex;
    width: 80%;
    background-color: #F8F7FC;
    padding-bottom:10px;
    border-radius: 32px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    gap: 0rem;
}
.profileTab h4 span {
    color: #170D23;
}

.profileTab h4 {
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
}
@media only screen and (max-width: 1300px) {
    .profileTab h4{
        font-size: 0.8rem;
    }
    .profileTab {
        width: 200px;
    }
    .profileTab span{
        font-size: medium;
    }
}
@media only screen and (max-width: 1200px) {
    .profileTab h4{
        font-size: 0.8rem;
    }
    .profileTab {
        width: 180px;
    }
    .profileTab span{
        font-size: medium;
    }
}
@media only screen and (max-width: 1100px) {
    .profileTab h4{
        font-size: 0.6rem;
    }
    .profileTab {
        width: 180px;
    }
    .profileTab span{
        font-size: small;
    }
}
.dashboardButton {
    margin-top: 1rem;
    background-color: #F0EDFC;
    color: #6137DB;
    font-weight: 700;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-radius: 40px;
}

.dashboardButton:hover,
.dashboardButton:focus {
    background-color: #F7F5FF;
    color: #6137DB;
}


@media only screen and (max-width: 1300px) {
    .dashboardButton{
        margin-left: -5px;
    }
}
@media only screen and (max-width: 1100px) {
    .dashboardButton{
        margin-left: -10px;
    }
}

.dash {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.clicked {
    transform: scale(0.95); 
    background-color: #E8E6F3; 
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnlog{
    display: flex;
    top: 12px;
    padding: 10px 60px 10px 60px;
    border-radius: 52px;
    gap: 4px;
    background-color: #FFF5F5;
    color: #FF0000;
    border: none;
    margin-left: 10px;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
    display: flex;
    background-color: #FFF5F5;
    color: #FF0000;

}

@media only screen and (max-width: 1200px) {
.btnlog{
    display: flex;
    top: 12px;
    padding: 10px 60px 10px 60px;
    border-radius: 52px;
    gap: 4px;
    background-color: #FFF5F5;
    color: #FF0000;
    border: none;
    width: 90%;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
    display: flex;
    background-color: #FFF5F5;
    color: #FF0000;
   
}
}

.btnup{
    display: flex;
    top: 12px;
    left: 12px;
    padding: 10px 60px 10px 60px;
    border-radius: 52px;
    gap: 4px;
    background-color: #F0EDFC;
    color: #6137DB;
    border: none;
    margin-left: 10px;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
    display: flex;
    background-color: #F0EDFC;
    color: #6137DB;
}
@media only screen and (max-width: 1200px) {
    .btnup{
        margin-top: 10px;
        display: flex;
        top: 12px;
        left: 12px;
        padding: 10px 60px 10px 60px;
        border-radius: 52px;
        gap: 4px;
        background-color: #F0EDFC;
        color: #6137DB;
        border: none;
        margin-bottom: 5%;
        font-weight: 600;
        font-size: small;
        cursor: pointer;
        width: 90%;
        display: flex;
        background-color: #F0EDFC;
        color: #6137DB;
       
    }
}
    .btnset{
        display: flex;
        top: 12px;
        left: 12px;
        padding: 10px 60px 10px 60px;
        gap: 4px;
        background-color: white;
        width: 100%;
        border: none;
        margin-left: 10px;
        margin-bottom: 5%;
        font-weight: 600;
        font-size: small;
        cursor: pointer;
        display: flex;
        border-radius: 52px;
        background-color: white;
        color: #6137DB;
    
        
    }
    
    @media only screen and (max-width: 1200px) {
        .btnset{
            display: flex;
            top: 12px;
            left: 12px;
            padding: 10px 60px 10px 60px;
            gap: 4px;
            background-color: white;
            width: 90%;
            border: none;
            margin-bottom: 5%;
            font-weight: 600;
            font-size: small;
            cursor: pointer;
            display: flex;
            border-radius: 52px;
            background-color: white;
            color: #6137DB;
           
        }
        }

.profnameback{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 40px;
background-color: #F8F7FC;
width: 230px;
padding-top: 10px;
padding-bottom: 0px;
margin-bottom: 30px;
gap: 5px;
}


@media only screen and (max-width: 1200px) {
.profnameback{
    width: 220px;
    padding-top: 5px;
    padding-bottom: 0px;
    gap: 5px;   
    margin-left: -4px;
    }
}

@media only screen and (max-width: 1100px) {
    .profnameback{
        width: 180px;
        }
    }


.btn {
    top: 12px;
    left: 12px;
    padding: 10px 60px 10px 60px;
    border-radius: 52px;
    gap: 4px;
    background-color: #F0EDFC;
    color: #6137DB;
    border: none;
    margin-left: 22px;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}