.masterContainer {
  background-color: #fff;
  /* width: 19%; */
  /* flex: 0 0 14%; */
  flex: 0 0 16.25rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  /* try this */
  position: relative;
  /* justify-content: flex-start; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  overflow: visible;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #aca7ba;
  /* try this */
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100% - 7rem);
  height: calc(100% - 10px);
}

.mainContainer::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + 48px);
  width: 1px;
  background-color: #ebebeb;
}

.mainContainer h3 {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 1000;
  font-size: 1.2rem;
  color: #170d23;
}

.mainContainer h3 img {
  margin-right: 0.5rem;
}

.dashboardWrapper {
  width: 100%;
  /* overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; */
}

.dashboardWrapper div {
  margin: 0 auto;
}

.dashboardWrapper div:first-child {
  margin-bottom: 1.5rem;
}

.mainContainer h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aca7ba;
  color: #170d23;
  cursor: pointer;
  margin-top: -0.2rem;
}

.mainContainer ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
}

.mainContainer ul li {
  border-radius: 40px;
  margin-top: 0.3rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  cursor: pointer;
  /* try this */
  width: unset;
  padding: 0.4rem 0.4rem 0.4rem 0.5rem;
}

.mainContainer ul li:hover {
  background-color: #f7f5ff;
  color: #6137db;
}

.listContainer {
  width: 86%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.list h4 img {
  cursor: pointer;
}

.profileTab {
  display: flex;
  width: 80%;
  background-color: #f8f7fc;
  padding-bottom: 10px;
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer;
}
.profileTab h4 span {
  color: #170d23;
}

.profileTab h4 {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.dashboardButton {
  /* margin-top: 1rem; */
  background-color: #f0edfc;
  color: #6137db;
  font-weight: 700;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-radius: 40px;
}

.dashboardButton:hover,
.dashboardButton:focus {
  background-color: #f7f5ff;
  color: #6137db;
}

.dash {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  cursor: pointer;
}

.clicked {
  transform: scale(0.95);
  background-color: #e8e6f3;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.btndiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBtn {
  border: none;
  background-color: transparent;
  color: var(--color-steel);
  border-radius: 2rem;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 14px 16px; */
  padding: 0.875em 1rem;
  width: 100%;
  transition: all 150ms ease-out;
}

.profileBtn svg {
  height: 26px;
  width: 26px;
}

.btnlog {
  gap: 10px;
}

.btnlog:hover {
  background-color: #fff5f5;
  color: #ff0000;
}

.btnup {
  background-color: #f0edfc;
  color: #6137db;
  gap: 4px;
}

.btnset {
  display: flex;
  top: 12px;
  left: 12px;
  padding: 10px 50px 10px 50px;
  gap: 4px;
  background-color: white;
  border: none;
  margin-left: 10px;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  border-radius: 52px;
  background-color: white;
  color: #6137db;
  align-items: center;
  justify-content: center;
}

.profnameback {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #f8f7fc;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  gap: 5px;
  */
  /* try this */
}

.newprofnameback {
  background-color: #f8f7fa;
  border-radius: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px 12px;
  margin-top: auto;
  width: calc(100% - 30px);
}

.newprofnameback * {
  box-sizing: border-box;
  margin: 0;
}

/* first and second child div */
.newprofnameback.open div:first-child,
.newprofnameback.open div:nth-child(2) {
  margin-bottom: 12px;
}

.newprofnameback.open {
  border: 1px solid #d3cffc;
  background-color: #ffffff;
  /* padding: 12px; */
}

.newprofnameback .clientInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0 !important;
}

.clientInfo div {
  margin-bottom: 0 !important;
}

.clientInfo h4 {
  white-space: nowrap;
}

.newprofnameback hr {
  width: 90%;
  height: 0;
  border: 1px solid #ebebeb;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.btn {
  top: 12px;
  left: 12px;
  padding: 10px 50px 10px 50px;
  border-radius: 52px;
  gap: 4px;
  background-color: #f0edfc;
  color: #6137db;
  border: none;
  margin-left: 22px;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

/* 1680px */
@media screen and (max-width: 105em) {
  .mainContainer::after {
    height: calc(100% + 32px);
  }
}

/* looking at options */
/* 1024px */
@media (max-width: 64em) {
  .masterContainer {
    /* width: 25%; */
    /* flex: 0 0 20%; */
    height: 100%;
  }

  .dashboardButton {
    margin-top: 1.5rem;
  }

  .mainContainer h4 {
    margin-bottom: 0.3rem;
  }

  /* .listContainer {
    width: 100%;
  } */

  .mainContainer ul li {
    /* margin: 0.5rem; */
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
  }

  .mainContainer ul li img {
    height: 24px;
  }

  .mainContainer ul li:not(:first-child) {
    margin-top: 0;
    padding: 0.3rem 0.8rem;
  }

  .profnameback {
    display: block;
  }

  .profileTab {
    margin-left: 8px;
    margin-right: 8px;
    width: 90%;
  }

  .profileTab h4 {
    white-space: nowrap;
  }
}
