.masterContainer {
  background-color: #fff;
  flex: 0 0 16.25rem;
  max-height: 100vh;
  /* try this */
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr max-content;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  overflow: visible;
}

.mainContainer {
  /* width: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #aca7ba;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100% - 10px);
  padding: 0 1.5rem 0 0.375rem;
}

.mainContainer * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + 48px);
  width: 1px;
  background-color: #ebebeb;
}

.sidenavTop {
  align-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 0 0.375rem;
}

.dashboardWrapper {
  width: 100%;
}

.dashboardWrapper div {
  /* margin: 0 auto; */
}

.dashboardWrapper div:first-child {
  margin-bottom: 1.5rem;
}

.mainContainer h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aca7ba;
  color: #170d23;
  cursor: pointer;
  margin-top: -0.2rem;
}

.mainContainer ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
}

/* .mainContainer ul li:hover {
  background-color: #f7f5ff;
  color: #6137db;
} */

.listContainer {
  margin: 0 8px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list h4 img {
  cursor: pointer;
}

.profileTab {
  display: flex;
  width: 80%;
  background-color: #f8f7fc;
  padding-bottom: 10px;
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer;
}
.profileTab h4 span {
  color: #170d23;
}

.profileTab h4 {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.dashboardHeading {
  border-radius: 4.1875em;
  color: var(--color-steel);
  cursor: pointer;
  font-size: 0.9375rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  padding: 0.625rem 0.75rem 0.625rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardHeading svg,
.dropdownHeading svg,
.candidates svg,
.dropdownList svg {
  height: 28px;
  width: 28px;
  stroke: inherit;
}

.dashboardHeading.active {
  background-color: var(--color-purple-white-shade);
  color: var(--color-primary);
}

.dropdownHeading {
  color: var(--color-text-light-grey);
  font-weight: 700;
  font-size: 0.95rem;
  margin-bottom: 4px;
  padding: 0.6875rem 0.5rem;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdownList {
  border-radius: 2rem;
  color: var(--color-steel);
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 600;
  padding: 0.625rem 0.75rem 0.625rem 1rem;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 230ms ease-in-out;
}

.dropdownList:last-of-type {
  margin-bottom: 0;
}

.dropdownList:hover {
  background-color: var(--color-purple-white-shade);
  color: var(--color-primary);
}
.dropdownList.active {
  background-color: var(--color-purple-white-shade);
  color: var(--color-primary);
}

/* .dashboardHeading:hover,
.dashboardHeading:focus {
  background-color: #f7f5ff;
  color: #6137db;
} */

.dash {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  cursor: pointer;
}

.clicked {
  transform: scale(0.95);
  background-color: #e8e6f3;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.btndiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBtn {
  border: none;
  background-color: transparent;
  color: var(--color-steel);
  border-radius: 2rem;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875em 1rem;
  width: 100%;
  transition: all 150ms ease-out;
}

.profileBtn svg {
  height: 26px;
  width: 26px;
}

.btnlog {
  gap: 10px;
}

.btnlog:hover {
  background-color: var(--color-logout-bg);
  color: var(--color-logout);
}

.btnup {
  background-color: var(--color-purple-white-shade);
  color: var(--color-primary);
  border: 1px solid transparent;
  gap: 4px;
}

.btnup:hover {
  border-color: var(--color-light-purple-graph);
}

.btnup:focus {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btnup:focus svg {
  stroke: white;
}

.btnset {
  display: flex;
  top: 12px;
  left: 12px;
  padding: 10px 50px 10px 50px;
  gap: 4px;
  background-color: white;
  border: none;
  margin-left: 10px;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  border-radius: 52px;
  background-color: white;
  color: #6137db;
  align-items: center;
  justify-content: center;
}

.newprofnameback {
  background-color: #f8f7fa;
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 10px 12px;
  margin-top: auto;
  width: calc(100% - 30px);
}

.newprofnameback * {
  box-sizing: border-box;
  margin: 0;
}

/* first and second child div */
.newprofnameback.open div:first-child,
.newprofnameback.open div:nth-child(2) {
  margin-bottom: 12px;
}

.newprofnameback.open {
  border: 1px solid #d3cffc;
  background-color: #ffffff;
}

.newprofnameback .clientInfo {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0 !important;
}

.clientInfo div {
  margin-bottom: 0 !important;
}

.clientInfo h4 {
  white-space: nowrap;
}

.newprofnameback hr {
  width: 90%;
  height: 0;
  border: 1px solid #ebebeb;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.btn {
  top: 12px;
  left: 12px;
  padding: 10px 50px 10px 50px;
  border-radius: 52px;
  gap: 4px;
  background-color: #f0edfc;
  color: #6137db;
  border: none;
  margin-left: 22px;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

/* 1680px */
@media screen and (max-width: 105em) {
  .listContainer {
    margin: 0 3px;
  }
  .mainContainer::after {
    height: calc(100% + 32px);
  }
}

/* looking at options */
/* 1024px */
@media (max-width: 64em) {
  .masterContainer {
    height: 100%;
  }

  .mainContainer h4 {
    margin-bottom: 0.3rem;
  }

  /* .mainContainer ul li {
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
  } */
  .listContainer {
    margin: 0 8px;
  }

  /* .mainContainer ul li:not(:first-child) {
    margin-top: 0;
    padding: 0.3rem 0.8rem;
  } */

  .profnameback {
    display: block;
  }

  .profileTab {
    margin-left: 8px;
    margin-right: 8px;
    width: 90%;
  }

  .profileTab h4 {
    white-space: nowrap;
  }
}
