@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap');

.superConatainer{
    margin-top: 1rem;
    height: 36%;
    background-color: #F8F7FC;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: "Poppins",sans-serif;
}

.headingContainer{
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headingContainer h3{
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.headingContainer span{
    color: #6137DB;
}

.container{
    width: 94%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.social {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    height: 65%;
    align-items: center;
}

#logoImage{
    background-color: #000;
    padding: 1.25rem;
    border-radius: 50%;
}
@media only screen and (max-width: 1300px) {
    #logoImage{
        padding: 1rem;
        width: 50%;
        height: 50%;
    }
}
@media only screen and (max-width: 1100px) {
    #logoImage{
        padding: 0.75rem;
        width: 20%;
        height: 20%;
    }
}
.social h3 {
    margin: 0;
}

.info{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}

.social span{
    color :#170D23;
    font-weight: 300;
}