.superContainer {
  /* width: 70%; */
  /* flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column; */

  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.temp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
