
.img {
    height: 90px;
    margin: 0 20px;
    border-radius: 12px;
   
  }
  .imageWrapper {
    height: 130px; /* Adjust as needed */
    width: 130px; /* Adjust as needed */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    /* padding: 40px 0; */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  .logos:before,
  .logos:after {
    content: '';
    position: absolute;
    top: 0;
    /* width: 250px; Adjust based on your design */
    
    z-index: 2;
  }
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  .logos-slide {
    display: flex;
    animation: 25s slide infinite linear;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }