@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap");

.backDropContainer {
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
  font-family: "Poppins", sans-serif;
  transform: translate3d(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructionsBox {
  height: 70%;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 95%;
}
.container h3 {
  display: block;
  font-size: 1.17rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.instructionsContainer {
  /* height: 50%; */
  height: 70%;
  width: 100%;
  background-color: #f8f7fa;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: start;
  overflow: scroll;
}

.instructionsContainer::-webkit-scrollbar {
  scrollbar-width: none;
}

.instructionsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.instructionsContainer ul li {
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  padding: 1rem 0;
  color: #4a525d;
  font-size: 1.1rem;
}

.custom-bullets {
  list-style: none;
  padding-left: 0;
}

.custom-bullets li::before {
  content: "•";
  color: #6137db;
  display: inline-block;
  font-size: 30px;
  /* width: 2rem; */
  margin-right: 1.5rem;
}

.lowerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
}

.lowerContainer button {
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #6137db;
  color: #fff;
  border-radius: 30px;
  width: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  justify-items: center;
}

/* 1680px */
@media screen and (max-width: 105em) {
  .instructionsBox {
    padding-bottom: 1rem;
    height: auto;
  }

  .lowerContainer button {
    margin-bottom: 0;
    height: 3.5rem;
    min-width: 12rem;
    margin-top: 0.9rem;
  }
}

/* 1200px */
@media screen and (max-width: 1200px) {
  .instructionsBox {
    height: 70%;
  }
}

/* 1024px */
@media screen and (max-width: 64em) {
  /* .instructionsBox {
    min-height: 33rem;
    min-width: 31rem;
  } */

  .lowerContainer {
    margin-top: 0.3rem;
    height: auto;
  }

  .lowerContainer button {
    margin-bottom: 0;
    height: 0rem;
    min-width: 12rem;
    margin-top: 0.9rem;
  }
}
