@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Poppins:wght@500&display=swap");
.searchBar {
  flex: 1;

  border: 1px solid transparent;
  background-color: #f8f7fa;
  /* width: 100%; */
  height: 50px;
  margin-bottom: 24px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  transition: border 0.3s, box-shadow 0.3s, height 0.3s;
  padding: 0 0.625rem 0 1rem;
}

.searchBar:has(.container):has(.searchInput):has(input:focus) {
  border: 1px solid #6137db;
}

.masterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 1rem;
  position: relative;
}
.masterContainer button {
  background-color: #f8f7fc;
  color: #6137db;
  border: none;
  height: 63%;
  border-radius: 30px;
  width: 20%;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
.container {
  height: 100%;
  /* width: 90%; */
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container input {
  content: attr(value);
  border: none;
  background-color: transparent;
  color: #170d23;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.btnsDiv {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
  justify-content: flex-end;
  gap: 1rem;
}
.addJobBtn {
  border: none;
  background-color: #6137db;
  height: 100%;
  padding: 0 2rem;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.notificationsBtn {
  border: none;
  background-color: #f8f7fc;
  height: 100%;
  padding: 0 2rem;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.notificationsBtn :hover {
  color: #170d23;
}
.notificationsBtn:focus {
  background-color: darkblue;
}
.notificationsBtn :active {
  background-color: darkblue;
}
.searchInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.searchInput input {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.searchInput input:focus {
  outline: none;
}
.searchResults {
  position: absolute;
  background-color: #ffffff; /* or any color that suits your design */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  width: 55%; /* or the width of the search bar */
  border-radius: 4px; /* optional, for rounded corners */
  z-index: 1000; /* make sure it stacks above other content */
  max-height: 300px; /* maximum height before scrolling */
  overflow-y: auto; /* allows scrolling */
  top: 10%; /* position right below the search bar */

  position: absolute;
  right: 0;
  top: 53px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 33px;
}

.searchResults::-webkit-scrollbar {
  width: 8px;
}
.searchResults::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 32px;
  background-color: var(--color-white-purple-shade);
}

.searchResults::-webkit-scrollbar-track:hover {
  background-color: var(--color-white-purple-shade);
}

.searchResults::-webkit-scrollbar-track:active {
  background-color: var(--color-white-purple-shade);
}

.searchResults::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: var(--color-light-grey);
}

.searchResults::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-grey);
}

.searchResults::-webkit-scrollbar-thumb:active {
  background-color: var(--color-light-grey);
}

.searchResults ul {
  list-style: none; /* removes bullets from list */
  margin: 0;
  padding: 0;
}
.searchResults li {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0; /* subtle separator */
}
.searchResults li:hover {
  background-color: #f7f7f7;
}

.selectCategory select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 32px;
  border: 1px solid transparent;
  background-color: #f8f7fa;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 55%;
  background-image: url(/Arrow.svg);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5px;
  /* padding: 10px 50px 10px 24px; */
  padding: 10px 3.12rem 10px 1.5rem;
  transition: background-color 0.1s ease-in-out;

  cursor: pointer;
}

.selectCategory select:hover {
  background-color: #ffffff;
}

.selectCategory select:focus {
  border-color: #6137db;
  background-color: #ffffff;
}

.selectCategory select input {
  color: #170d23;
}
.selectCategory select:focus {
  outline: none;
}

@media screen and (max-width: 64em) {
  /* .searchResults {
    width: 50.5%;
  } */

  .searchBar {
    height: 50px;
  }
  .selectCategory select {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .selectCategory select {
    padding-top: 2.5px;
    padding-right: 32px;
    padding-left: 12px;
    padding-bottom: 2.5px;
    background-position-x: calc(100% - 6px);
  }
}
.selectCategory select input {
  color: #170d23;
}
.selectCategory select:focus {
  outline: none;
}

.noResults {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: gray;
}


