.adminPortal{
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6137DB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }